{% extends 'administrator/main.html' %}
{% load static %}
{% load extra_tags %}

{% block content %}
  <div class="content-wrapper pb-0">
    <div class="page-header flex-wrap">
      <h3 class="mb-0"> Add Department
      </h3>
      
    </div>
    <div class="row">
      <div class="col-xl-12 stretch-card grid-margin">
        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col-sm-3">
                <div class="card mb-3 mb-sm-0">
                  <div class="card-body py-3 px-4">
                    <form action="" method="post">
                      <p class="m-0 survey-head">Fill all required fields</p>
                      <div class="d-flex justify-content-between align-items-end flot-bar-wrapper">
                        <div>
                            {% csrf_token %}
                            
                            {% for field in form %}
                            {% if field.field.widget|is_checkbox %}
                            <div class="form-check">
                              {{field.errors}}
                              <label class="form-check-label" for="id_{{ field.name }}">
                                <input type="checkbox" class="form-check-input" name="{{ field.name }}" id="id_{{ field.name }}"> {{ field.label }} <i class="input-helper"></i></label>
                            </div>
                            {% else %}

                           
                            <div class="form-group">
                            {{field.errors}} {{field.label_tag}} {{field}}
                            </div>  
                            {% endif %}
                            {% endfor %} 
                              
                          

                            <div class="form-group">
                            <input type="submit" value="Submit" class="btn btn-info">
                            </div>  
                        </div>
                    </form>
                    </div>
                  </div>
                </div>
                </div>
                <div class="col-sm-9">
                  <div class="card mb-3 mb-sm-0">
                    <div class="card-body py-3 px-4">
                        <p class="m-0 survey-head">Previously Entered Departments</p>
                        <hr>
                        <div class="d-flex justify-content-between align-items-end flot-bar-wrapper">
                              <table class="table-striped table">
                                <tr>
                                  <th>SN</th>
                                  <th>Name</th>
                                  <th>General Department</th>
                                  <th>Action</th>
                                </tr>
                                {% for dept in departments  %}
                                  <tr>
                                    <td>{{ forloop.counter }}</td>
                                    <td>{{ dept.name }}</td>
                                    <td>{{ dept.is_general }}</td>
                                    <td><a href="#" data-id="{{ dept.id }}" data-check={{ dept.is_general }} data-name={{ dept.name }} class="btn edit btn-info">Edit</a> -- <a href="{% url 'delete_department' dept.id %}" class="btn btn-danger">Delete</a> </td>
                                  </tr>
                                {% endfor %}
                              </table>
                      </div>
                    </div>
                  </div>
              </div>
            </div>
            
          
          </div>
        </div>
      </div>
    </div>

<!-- main-panel ends -->
{% endblock content %}

{% block custom_js %}
  <script>
    $(function() {
    $(document).on('click', '.edit', function(e) {
      e.preventDefault();
      var id = $(this).data('id');
      var name = $(this).data('name');
      var checked = $(this).data('check');
      $.ajax({
        type: 'GET',
        url: '{% url "fetch_department_by_id" 123 %}'.replace('123', id),
        dataType: 'json',
        success: function(response) {
          console.log(response)
            if (response.error) {
              swal("Error", "Access Denied", "error");
          
                toastr.error(errmsg, "Preview Error")
            } else {
                $('#edit_form').modal('show');
                $('#dept_id').val(id)
                $('#form_body').html(response.form);
            }
        }
    });
      $('.name').html(name);
  });
});
  </script>
{% endblock custom_js %}

{% block modal %}
<div class="modal fade" id="edit_form">
  <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title"><b><span class="name"></b></h4>
          </div>
          <div class="modal-body">
            <form action="{% url 'updateDepartment' %}" method="post">
              {% csrf_token %}
              <input type="number" name="dept_id" id="dept_id">
              <span id="form_body"></span>
              <div class="form-group">
                <input type="submit" value="Submit" class="btn btn-info">
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default btn-flat pull-left" data-dismiss="modal"><i class="fa fa-close"></i> Close</button>
          </div>
      </div>
  </div>
</div>
{% endblock modal %}