{% extends 'administrator/main.html' %}
{% load static %}
{% load extra_tags %}

{% block content %}
  <div class="content-wrapper pb-0">
    <div class="page-header flex-wrap">
      <h3 class="mb-0"> Add Department
      </h3>
      
    </div>
    <div class="row">
      <div class="col-xl-12 stretch-card grid-margin">
        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col-sm-3">
                <div class="card mb-3 mb-sm-0">
                  <div class="card-body py-3 px-4">
                    <form action="" method="post">
                      <p class="m-0 survey-head">Fill all required fields</p>
                      <div class="d-flex justify-content-between align-items-end flot-bar-wrapper">
                        <div>
                            {% csrf_token %}
                            
                            {% for field in form %}
                            {% if field.field.widget|is_checkbox %}
                            <div class="form-check">
                              {{field.errors}}
                              <label class="form-check-label" for="id_{{ field.name }}">
                                <input type="checkbox" class="form-check-input" name="{{ field.name }}" id="id_{{ field.name }}"> {{ field.label }} <i class="input-helper"></i></label>
                            </div>
                            {% else %}

                           
                            <div class="form-group">
                            {{field.errors}} {{field.label_tag}} {{field}}
                            </div>  
                            {% endif %}
                            {% endfor %} 
                              
                          

                            <div class="form-group">
                            <input type="submit" value="Submit" class="btn btn-info">
                            </div>  
                        </div>
                    </form>
                    </div>
                  </div>
                </div>
                </div>
                <div class="col-sm-9">
                  <div class="card mb-3 mb-sm-0">
                    <div class="card-body py-3 px-4">
                        <p class="m-0 survey-head">Previously Entered Departments</p>
                        <hr>
                        <div class="d-flex justify-content-between align-items-end flot-bar-wrapper">
                              <table class="table-striped table">
                                <tr>
                                  <th>SN</th>
                                  <th>Name</th>
                                  <th>General Department</th>
                                </tr>
                                {% for dept in departments  %}
                                  <tr>
                                    <td>{{ forloop.counter }}</td>
                                    <td>{{ dept.name }}</td>
                                    <td>{{ dept.is_general }}</td>
                                  </tr>
                                {% endfor %}
                              </table>
                      </div>
                    </div>
                  </div>
              </div>
            </div>
            
          
          </div>
        </div>
      </div>
    </div>

<!-- main-panel ends -->
{% endblock content %}
