{% extends 'administrator/main.html' %}
{% load static %}
{% block content %}
  <div class="content-wrapper pb-0">
    <div class="page-header flex-wrap">
      <h3 class="mb-0"> Manage Site Settings
      </h3>
      
    </div>
    <div class="row">
      <div class="col-xl-12 stretch-card grid-margin">
        <div class="card">
          <div class="card-body">
            <div class="row">
                <div class="col-sm-12">
                  <div class="card mb-3 mb-sm-0">
                    <div class="card-body py-3 px-4">
                        <p class="m-0 survey-head">Website Site Settings</p>
                        <hr>
                        <div class="">
                          <form action="" method="post">
                              <div>
                                  {% csrf_token %}
                                  {% for field in form %}
                                  <div class="form-group">
                                  {{field.errors}} {{field.label_tag}} {{field}}
                                  </div>  
                                  {% endfor %} 
                                  <div class="form-group">
                                  <input type="submit" value="Submit" class="btn btn-info">
                                  </div>  
                              </div>
                          </form>
                          </div>
                      </div>
                    </div>
                  </div>
            </div>
            
          
          </div>
        </div>
      </div>
    </div>

<!-- main-panel ends -->
{% endblock content %}
