{% load static %}
<nav class="sidebar sidebar-offcanvas" id="sidebar">
  <div class="text-center sidebar-brand-wrapper d-flex align-items-center">
    <a class="sidebar-brand brand-logo" href="../../index.html"><img src="{% static 'assets/images/logo.svg' %}" alt="logo" /></a>
    <a class="sidebar-brand brand-logo-mini pl-4 pt-3" href="../../index.html"><img src="{% static 'assets/images/logo-mini.svg' %}" alt="logo" /></a>
  </div>
  <ul class="nav">
    <li class="nav-item nav-profile">
      <a href="#" class="nav-link">
        <div class="nav-profile-image">
          <img src="{% static 'assets/images/faces/face1.jpg' %}" alt="profile" />
          <span class="login-status online"></span>
          <!--change to offline or busy as needed-->
        </div>
        <div class="nav-profile-text d-flex flex-column pr-3 text-wrap">
          <span class="font-weight-medium mb-2">{{ request.user }}</span>
          <span class="font-weight-normal">Admin</span>
        </div>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'adminDashboard' %}">
        <i class="mdi mdi-home menu-icon"></i>
        <span class="menu-title">Dashboard</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'manageDepartment' %}">
        <i class="mdi mdi-school menu-icon"></i>
        <span class="menu-title">Department</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'manageCourse' %}">
        <i class="mdi mdi-calendar menu-icon"></i>
        <span class="menu-title">Course</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'manageSession' %}">
        <i class="mdi mdi-book-multiple menu-icon"></i>
        <span class="menu-title">Session</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'manageStudent' %}">
        <i class="mdi mdi-account-network  menu-icon"></i>
        <span class="menu-title">Student</span>
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link" data-toggle="collapse" href="#staff_expand" aria-expanded="false" aria-controls="staff_expand">
        <i class="mdi mdi-account-multiple menu-icon"></i>
        <span class="menu-title">Staff</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="staff_expand">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'manageStaff' %}">Manage</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'viewCourseAllocations' %}">Course Allocation</a>
          </li>
       
        </ul>
      </div>
    </li>

  
    <li class="nav-item">
      <a class="nav-link" href="{% url 'siteSettings' %}">
        <i class="mdi mdi-settings   menu-icon"></i>
        <span class="menu-title">Settings</span>
      </a>
    </li>
    
  </ul>
</nav>
