{% load static %}
<!-- Required meta tags -->
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<title>{{ APP_NAME }}</title>
<link rel="stylesheet" href="{% static 'assets/vendors/mdi/css/materialdesignicons.min.css' %}" />
<link rel="stylesheet" href="{% static 'assets/vendors/flag-icon-css/css/flag-icon.min.css' %}" />
<link rel="stylesheet" href="{% static 'assets/vendors/css/vendor.bundle.base.css' %}" />
<link rel="stylesheet" href="{% static 'assets/vendors/select2/select2.min.css' %}" />
<link rel="stylesheet" href="{% static 'assets/vendors/select2-bootstrap-theme/select2-bootstrap.min.css' %}" />
<link rel="stylesheet" href="{% static 'assets/css/style.css' %}" />
<link rel="shortcut icon" href="{% static 'assets/images/favicon.png' %}" />
{% if 'classroom' in request.path %}
<style>
    .django-ckeditor-widget{
        width: 100%;
      }
    .invalid{
      font-style: italic;
      font-weight: bold;
      color: red;
    }
    .valid{
      font-style: italic;
      font-weight: bold;
      color: green;
    }
</style>
{% endif %}
