{% extends 'administrator/main.html' %}
{% load static %}
{% load extra_tags %}
{% load encrypt_tags %}
{% block content %}
  <div class="content-wrapper pb-0">
    <div class="page-header flex-wrap">
      <h3 class="mb-0"> {{ course.course }} || Post || Comments || ({{ ACADEMIC_SESSION }})
      </h3>
      </div>
      
    <div class="row">
      <div class="col-xl-12 stretch-card grid-margin">
        <div class="card">
          <div class="card-body">
            <div class="row">
                <div class="col-sm-12">
                  <div class="card mb-3 mb-sm-0">
                    <div class="card-body py-3 px-4">
                        <p class="m-0 survey-head">{{ post.message }}
                          {% if post.user == request.user %}
                          (You)
                        {% endif %}
                        <button data-what='post' class="btn float-right launch btn-outline-primary btn-sm" >
                          <i class='mdi mdi-comment-plus-outline'></i> Add a comment</button>
                        </p>
                        <hr>
                        <div class="d-flex justify-content-between align-items-end flot-bar-wrapper">
                          <div class="col-xl-12 grid-margin stretch-card">
                            <!--activity-->
                            <div class="card">
                              <div class="card-body">
                                <h4 class="card-title">
                                  <span class="d-flex justify-content-between">
                                   &nbsp;
                                  </span>
                                </h4>
                                <ul class="gradient-bullet-list border-bottom">
                                  <li>
                                    <h6 class="mb-0"> It's awesome when we find a new solution </h6>
                                    <p class="text-muted">2h ago</p>
                                  </li>
                                  <li>
                                    <h6 class="mb-0">Report has been updated</h6>
                                    <p class="text-muted">
                                      <span>2h ago</span>
                                      <span class="d-inline-block">
                                        <span class="d-flex d-inline-block">
                                          <img class="ml-1" src="assets/images/faces/face1.jpg" alt="">
                                          <img class="ml-1" src="assets/images/faces/face10.jpg" alt="">
                                          <img class="ml-1" src="assets/images/faces/face14.jpg" alt="">
                                        </span>
                                      </span>
                                    </p>
                                  </li>
                                  <li>
                                    <h6 class="mb-0"> Analytics dashboard has been created#Slack </h6>
                                    <p class="text-muted">2h ago</p>
                                  </li>
                                  <li>
                                    <h6 class="mb-0"> It's awesome when we find a new solution </h6>
                                    <p class="text-muted">2h ago</p>
                                  </li>
                                </ul>
                                <!-- <a class="text-black mt-3 mb-0 d-block h6" href="#">View all <i class="mdi mdi-chevron-right"></i></a> -->
                              </div>
                            </div>
                            <!--activity ends-->
                          </div>
                          </div>
                      </div>
                    </div>
                  </div>
            </div>
            
          
          </div>
        </div>
      </div>
    </div>

<!-- main-panel ends -->
{% endblock content %}



{% block custom_js %}
  <script>
    $(function() {

      $(document).on('click', '.assignment', function(e) {
     
      e.preventDefault();
      var id = $(this).data('id');
      var action = $(this).data('action');
      var token = location.pathname.split("/").slice(-3)[0].replace(/^\/|\/$/g, '');
      if (action=='edit'){

        var link = '{% url "edit_assignment_form" "token" 123 %}'.replace('token', token).replace(123, id);
        window.location = link;
      }else if (action == 'preview'){

      }else{
        //submission
        var link = '{% url "view_submission" "token" 123 %}'.replace('token', token).replace(123, id);

        window.location = link;

      }

      

});
});
  </script>
{% endblock custom_js %}

{% block modal %}
<div class="modal fade" id="assignment_modal">
  <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title float-left" id='modal_title'><b></b></h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span></button>
              </div>
              <div class="modal-body">
                <form action="{% url 'updateCourse' %}" method="post">
              {% csrf_token %}
              <span id="form_body"></span>
              <div class="form-group">
                <input type="submit" value="Submit" class="btn btn-info">
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default btn-flat pull-left" data-dismiss="modal"><i class="fa fa-close"></i> Close</button>
          </div>
      </div>
  </div>
</div>
{% endblock modal %}