{% extends 'administrator/main.html' %}
{% load static %}
{% load extra_tags %}
{% load encrypt_tags %}
{% block content %}
  <div class="content-wrapper pb-0">
    <div class="page-header flex-wrap">
      <h3 class="mb-0"> {{ course.course }} || View All Assignments || ({{ ACADEMIC_SESSION }})
      </h3>
      </div>
      
    <div class="row">
      <div class="col-xl-12 stretch-card grid-margin">
        <div class="card">
          <div class="card-body">
            <div class="row">
                <div class="col-sm-12">
                  <div class="card mb-3 mb-sm-0">
                    <div class="card-body py-3 px-4">
                        <p class="m-0 survey-head">All Assignments</p>
                        <hr>
                        <div class="d-flex justify-content-between align-items-end flot-bar-wrapper">
                          <table class="table-striped table">
                            <tr>
                              <th>SN</th>
                              <th>Title</th>
                              <th>Submission Date</th>
                              <th>Status</th>
                              <th>Actions</th>
                            </tr>
                            {% now "Y-m-d" as todays_date %}

                            {% for assignment in assignments  %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td>{{ assignment.title }}</td>
                                <td>{{ assignment.expiry_date }}</td>
                                <td>
                                  
                                  {% if todays_date <= assignment.expiry_date|date:"Y-m-d" %}
                                  <label class="badge badge-success">Active</label>
                                  {% else %}
                                  <label class="badge badge-danger">Expired</label>
                                  {% endif %}
                                  
                                </td>
                                <td>
                                  <button class="btn assignment btn-secondary" data-action='preview' data-id="{{ assignment.id }}" >Preview</button> -
                                  <button class="btn assignment btn-primary" data-action="submission" data-id="{{ assignment.id }}" >Submissions ({{ assignment.id|assignment_received }}) </button> - 
                                  <button class="btn assignment btn-secondary" data-action="edit" data-id="{{ assignment.id }}" >Edit</button>
                                </td>
                              </tr>
                              {% endfor %}
                          </table>
                          </div>
                      </div>
                    </div>
                  </div>
            </div>
            
          
          </div>
        </div>
      </div>
    </div>

<!-- main-panel ends -->
{% endblock content %}



{% block custom_js %}
  <script>
    $(function() {

      $(document).on('click', '.assignment', function(e) {
     
      e.preventDefault();
      var id = $(this).data('id');
      var action = $(this).data('action');
      var token = location.pathname.split("/").slice(-3)[0].replace(/^\/|\/$/g, '');
      if (action=='edit'){

        var link = '{% url "edit_assignment_form" "token" 123 %}'.replace('token', token).replace(123, id);
        window.location = link;
      }else if (action == 'preview'){

      }else{
        //submission
        var link = '{% url "view_submission" "token" 123 %}'.replace('token', token).replace(123, id);

        window.location = link;

      }

      

});
});
  </script>
{% endblock custom_js %}
