{% extends 'administrator/main.html' %}
{% load static %}
{% load extra_tags %}
{% load encrypt_tags %}
{% block content %}
  <div class="content-wrapper pb-0">
    <div class="page-header flex-wrap">
      <h3 class="mb-0"> {{ course.course }} || Post || Comments || ({{ ACADEMIC_SESSION }})
      </h3>
      </div>
      
    <div class="row">
      <div class="col-xl-12 stretch-card grid-margin">
        <div class="card">
          <div class="card-body">
            <div class="row">
                <div class="col-sm-12">
                  <div class="card mb-3 mb-sm-0">
                    <div class="card-body py-3 px-4">
                        <p class="m-0 survey-head">{% if post.user == request.user %}
                          (You)
                          {% else %}
                          {{ post.user }}
                        {% endif %} || {{ post.date }}
                        <button data-what='post' class="btn float-right launch btn-outline-primary btn-sm" >
                          <i class='mdi mdi-comment-plus-outline'></i> Add a comment</button>
                        </p>
                        <hr>
                        <div class="d-flex justify-content-between align-items-end flot-bar-wrapper">
                          <div class="col-xl-12 grid-margin stretch-card">
                            <!--activity-->
                            <div class="card">
                              <div class="card-body">
                                <h4 class="card-title">
                                  <span class="d-flex justify-content-between">
                                    {{ post.message }}
                                  </span>
                                </h4>
                                <ul class="gradient-bullet-list border-bottom">
                                  {% for reply in  replies %}
                                  <li>
                                    <h6 class="mb-0">{{ reply.message }}</h6>
                                    <p class="text-muted">
                                      <span>{{ reply.user }} || {{ reply.date }}</span>
                                      <span class="d-inline-block">
                                        <span class="d-flex d-inline-block">
                                          <img class="ml-1" src="{% static 'assets/images/faces/face1.jpg' %}" alt="">
                                        </span>
                                      </span>
                                    </p>
                                  </li>
                                  {% empty %}
                                  <li><h4 class="alert alert-info">No Comments Yet</h4></li>
                                  {% endfor %}
                                
                                </ul>
                                <!-- <a class="text-black mt-3 mb-0 d-block h6" href="#">View all <i class="mdi mdi-chevron-right"></i></a> -->
                              </div>
                            </div>
                            <!--activity ends-->
                          </div>
                          </div>
                      </div>
                    </div>
                  </div>
            </div>
            
          
          </div>
        </div>
      </div>
    </div>

<!-- main-panel ends -->
{% endblock content %}



{% block custom_js %}


  
  <script>
    $(function() {
      {% if request.method == 'POST' %}
          $('#comment_modal').modal('show');
      {% endif %}
      $(document).on('click', '.launch', function(e) {
     
      e.preventDefault();
      $('#comment_modal').modal('show');
      

      

});
});
  </script>
{% endblock custom_js %}

{% block modal %}

<div class="modal fade" id="comment_modal">
  <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title float-left" id='modal_title'><b></b></h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span></button>
              </div>
              <div class="modal-body">
                <form action="" method="post">
              {% csrf_token %}
              <span id="form_body">
                {% for field in form %}
                <div class="form-group">
                <b>{{field.label_tag}}</b>
                <span class="text-danger">{{field.errors}}</span> {{field}}
                </div>  
                {% endfor %} 
              </span>
              <div class="form-group">
                <input type="submit" value="Submit" class="btn btn-info">
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default btn-flat pull-left" data-dismiss="modal"><i class="fa fa-close"></i> Close</button>
          </div>
      </div>
  </div>
</div>
{% endblock modal %}